[Unit]
Description=AvayaCDR
After=network.target
After=mysql.service

[Service]
Type=notify
User=avayacdr
Group=avayacdr
WorkingDirectory=/opt/avayacdrparce
ExecStart=/opt/avayacdrparce/avayacdrparce
Restart=always
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target